
<div class="container">

    <div class="form-container">
        <div class="header">
            <h2>Update Your Details</h2>
            <!-- <p class="description">Create a secure password for your account.</p> -->
        </div>
    <!-- {{_userData() | json}} -->
    @if(_userData(); as user) {
        <sb-update-self-form
            class="form"
            [appUser]="user"
            [twoFactorProviderOptions]="_twoFactorProviderOptions"
            (updateSelf)="updateSelf($event)"/>
    }@else {        
        @if (_showErrors()) {            
            <div class="info-card">
                <h4>Error</h4>
                <p>User data not available make sure you are logged in.</p>            
                <sb-button 
                    color="error" 
                    class="go-to-login-btn"
                    (click)="goToLogin()">
                    Login
                </sb-button>
            </div>
        }
    }
    </div>
    
</div>



<sb-notifications-modal-mat 
    [errorMsg]="_errorMsg()" 
    [successMsg]="_successMsg()" 
    [isLoading]="_loading()" />

    
