<sb-main-navbar 
    [lhsOutletTemplate]="lhsOutletTemplate"
    [rhsOutletTemplate]="rhsOutletTemplate" />

<router-outlet />


<sb-service-worker-update-mat />

<!-- ======================================= -->

<ng-template #lhsOutletTemplate>
    <sb-swagger-button/>
    <sb-hangfire-button/>
</ng-template>


<ng-template #rhsOutletTemplate>
    <sb-auth-login-button/>
    <div class="theming">
        <sb-theme-picker-mat />
        <sb-dark-mode-toggle-mat />
    </div>
</ng-template>

<!-- ======================================= -->