:host {
    display: block;
    padding-top: 72px;
}

sb-main-navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.theming {
    display: flex;
    justify-content: space-around;

    >* {
        margin: 5px;
    }
}

.btn-user-info {
    position: fixed;
    top: 65px;
    left: 10px;
    z-index: 10;
}

.team-badge {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-user-info,
.team-badge {
    transition: 0.35s ease-out;
}

:host(.scrolled) {

    .btn-user-info,
    .team-badge {
        opacity: 0.5;
    }
}