<div class="container">
  
  <sb-login-form 
    (login)="login($event)" 
    (forgotPwd)="onForgotPwd()"
    [showRemeberMe]="true"
    [socialTemplate]="socialTemplate"/>
  
  <sb-forgot-pwd-modal 
    [(openModal)]="_showForgotPwd"
    (email)="onForgotPasswordResult($event)"/>

    <sb-notifications-modal-mat 
      [errorMsg]="_errorMsg()" 
      [successMsg]="_successMsg()" 
      [isLoading]="_loading()" />


<!-- ####################################### -->

<ng-template #socialTemplate>
     <asl-google-signin-button type='icon' size='large' />
</ng-template>


<!-- ####################################### -->