


<div class="content-container">
    <sb-data-table 
      [items]="_data()" 
      [displayColumns]="displayColumns()"
      [isLoading]="_loading()" 
      [includeActions]="true"
      [title]="'Album Collection'"
      [emptyMessage]="'No albums found. Try refreshing the data.'"
      [loadingMessage]="'Loading albums...'"
      [itemName]="'album'"
      [iconName]="'album'"
      (refresh)="refresh()"
      (viewDetails)="onViewDetails($event)"
      (editItem)="onEditItem($event)"
      (deleteItem)="onDeleteItem($event)"/>
</div>


<sb-success-modal 
    [successMsg]="_successMsg()"/>
    
<sb-error-modal 
    [errorMsg]="_errorMsg()"
    (tryAgain)="refresh()"/>

<sb-loader-modal [isLoading]="_loading()" 
    [loadingMessage]="'Loading albums...'"/>
