:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;;
  overflow: auto;
}

.container {
  width: 96%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


mat-card {
  border: 1px solid var(--mat-sys-secondary-30);
  max-width: 450px;
  height: 100%;
  width: 100%;
}


