:host {
  display: block;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
  // background-color: #f4f4f4;
  // color: #333;
}

.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
  // background: #fff;
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-surface-on-container);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;


  mat-divider {
    width: 85%;
  }
  section{
    width: 100%;
  }
}

section {
  margin: 3rem 0;
}

h1,
h2,
h3 {
  color: #023b54;
  color: var(--mat-sys-primary);
  /* A Firebase-like blue */
}

pre {
  // background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
  /* Ensure whitespace is respected */
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

strong {
  color: #e0710f;
  color: var(--mat-sys-secondary);
  /* A Firebase-like orange */
}