<div class="component-container">
  <rd-hero-banner 
    [title]="_title" 
    [subtitle]="_subtitle" 
    [description]="_description" 
    [imageUrl]="_heroImageUrl" 
    [imageAlt]="_heroImageAlt"
    [actionsTemplate]="bannerActionsTemplate" />
</div>

    


<!-- ########################################### -->

<ng-template #bannerActionsTemplate>
  <div class="banner-actions">
    <div class="cta-buttons">
      <a mat-raised-button [routerLink]="_homeRoute"
        [matTooltip]="`AppRouteDefs.fullPathsWithSlash.main.route()`">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </div>
  </div>
</ng-template>

<!-- ########################################### -->
