<sb-main-demo-header/>


<div class="search-container">
  <h2>User Search</h2>
  
  <!-- Search input -->
  <div class="search-form">
    <mat-form-field>
      <mat-label>Search Users</mat-label>
      <input matInput      
       [formControl]="_searchControl"
       placeholder="Enter name or email">
    </mat-form-field>
    <button mat-raised-button 
            class="primary" 
            [matTooltip]="'Refresh data with no filtering'"
            [disabled]="loading() || !_searchControl.value" 
            (click)="clearSearch()">
      Clear
    </button>
  </div>
  
  <!-- Loading state -->
  @if(loading()) {
    <mat-progress-bar mode="indeterminate"/>
  }
  
  <!-- Error message -->
  @if(errorMsg()) {
    <div class="error-message">
      {{ errorMsg() }}
    </div>
  }
  
  <!-- Success message -->
  @if(successMsg()) {
    <div class="success-message">
      {{ successMsg() }}
    </div>
  }
  
  <!-- Results -->
  @if(!!users()?.length) {
    <h3>Search Results</h3>
    <div class="results">
      @for(user of users(); track user.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ user.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ user.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/detail', user.id]">
              View Album
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
  
  <!-- Empty state -->
  @if(_noDataMessage()) {
    <div class="empty-state">
      {{_noDataMessage()}}
    </div>
  }
</div>





<sb-main-demo-code 
  [html]="_htmlCode()"
  [typescript]="_tsCode()"/>
