<form [formGroup]="_form" [sbFormControlFirstError]="_form" (ngSubmit)="submit()" class="forgot-pwd-form">
    <!-- <h2>Reset Password</h2>
    <p class="description">Enter your email address and we'll send you a link to reset your password.</p> -->
    
    <div class="form-group">
        @if(showLables()){
            <label [for]="'email'+_idSuffix">Email Address</label>
        }
        <input 
            [id]="'email'+_idSuffix" 
            type="email" 
            formControlName="email" 
            placeholder="Enter your email address" 
            sbInputStyle />
            <sb-first-error [control]="_form.controls.email"/>
    </div>

    <sb-button type="submit" [disabled]="_form.invalid" color="primary">
        Send Reset Link
    </sb-button>
</form>
