:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;;
  overflow: auto;
}

.table {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}