<mat-toolbar >
    
<div class="left-links">
    <img class="navlink" 
        [src]="_logoSml()" 
        alt="SpiderBaby MiniState" 
        [routerLink]="'home'"
        routerLinkActive="active" 
        [matTooltip]="'Home'"
        [attr.aria-label]="'home'"/>   
    
    <button mat-icon-button 
        aria-label="Git repo for project"
        [mlNavigateNewWindow]="_gitRepoUrl()" 
        [matTooltip]="'Git repo'">
        <mat-icon svgIcon="git" />
    </button>    
    
    <button mat-icon-button 
        aria-label="Npm Package"
        [mlNavigateNewWindow]="_npmPkgUrl()" 
        [matTooltip]="'Npm Package'">
        <mat-icon svgIcon="npm" />
    </button>

    <button mat-icon-button 
        aria-label="Share current page"
        (click)="share()"
        matTooltip="Share this page">
        <mat-icon>share</mat-icon>
    </button> 
</div>

<div 
  class="right-links" 
  [class.open]="_menuOpen()" 
  role="menu" 
  (click)="closeMenu()" 
  (keydown.escape)="closeMenu()"
  tabindex="-1">     

    <ng-container         
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'detail/' + _randomId(), 
            tooltip: 'Item Detail', 
            iconName: 'asterisk', 
            text: 'Detail'
        }"/>
    
    @for(navLink of _rhsNavItems(); track navLink) {
        <ng-container 
            [ngTemplateOutlet]="navItem" 
            [ngTemplateOutletContext]="{
                routerLink: navLink.routerLink, 
                tooltip: navLink.tooltip, 
                iconName: navLink.iconName, 
                text: navLink.text
        }"/>
    }
    
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>
</div>

    <button 
        mat-icon-button 
        id="menu-button"
        matTooltip="Open Navigation"
        (click)="openMenu()">
        <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>


<!-- ---------------------------------------------- -->
 

<ng-template #navItem let-routerLink="routerLink" let-tooltip="tooltip" let-iconName="iconName" let-text="text">
        <div class="navlink"
            [routerLink]="routerLink"
            routerLinkActive="active"  
            [routerLinkActiveOptions]="{ exact: routerLink === 'home' }" 
            [matTooltip]="tooltip"
            role="menuitem"
            tabindex="0"
            (keydown.enter)="$event.preventDefault()">
            {{text}}
        </div>
</ng-template>


<!-- ---------------------------------------------- -->