
  
  <sb-data-table  
   [data]="data()"
   [columns]="tableColumns()"
   (addItem)="onAddItem()"
   (action)="onAction($event)"
   [rowClickable]="rowClickable()"
   (rowClick)="onRowClick($event)"/>
   
  
<sb-modal
  [(open)]="_showUpdateForm"
  [template]="updateFormTemplate()"
  [templateData]="_updateItem()"/>
    

<sb-modal
  [(open)]="_showAddForm"
  [template]="addFormTemplate()"/>

  <sb-confirm-modal 
    [title]="deleteModalTitle()"
    [description]="_deleteModalMessage()"
    (confirm)="onConfirmDelete($event)"
    [(openModal)]="_showConfirm"  />


  
<sb-notifications-modal-mat 
    [errorMsg]="errorMsg()" 
    [toastMsg]="successMsg()" 
    [isLoading]="loading()" 
    [loadingMessage]="'Loading ...'" />