
<div class="container">

    <div class="form-container">
        <div class="header">
            <h2>Change Your 2-Factor Provider</h2>
            <!-- <p class="description">Create a secure password for your account.</p> -->
        </div>
    {{_twoFactorProviderOptions|json}}
        <sb-update-two-factor-provider-form 
            class="form"
            [currentProvider]="_currentProvider()"
            [twoFactorProviderOptions]="_twoFactorProviderOptions"
            (updateProvider)="updateProvider($event)"/>
    </div>

    
    <sb-button color="secondary" 
        class="go-to-login-btn"
        [class.show]="_changeSuccess()"
        (click)="goToLogin()">
        Login
    </sb-button>
    
</div>



<sb-notifications-modal-mat 
    [errorMsg]="_errorMsg()" 
    [successMsg]="_successMsg()" 
    [isLoading]="_loading()" />

    
