@use './ui/@common/common.scss' as *;


:host {
  display: block;

  * {
    transition:
      color .75s cubic-bezier(0.4, 0, 0.2, 1),
      background-color .75s cubic-bezier(0.4, 0, 0.2, 1);
  }
}


img {
  max-width: 125px;
  height: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem 2rem 3rem 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.tagline {
  font-size: 1.2rem;
  opacity: 0.8;
}


sb-home-getting-started,
.showcase {
  margin: 3rem 0;
}

mat-divider{
  margin: 3rem 0;
}
