<mat-toolbar >
    
<div class="left-links">
    <img class="navlink" 
        [src]="_logoSml()" 
        alt="SpiderBaby Material" 
        [routerLink]="'home'"
        routerLinkActive="active" 
        [sbTooltip]="'Home'"
        [attr.aria-label]="'home'"/>   
    
    @if(!isSmallScreen()){  
        <button mat-icon-button 
            aria-label="Git repo for project"
            [sbNavigateNewWindow]="_gitRepoUrl()" 
            [sbTooltip]="'Git repo'">
            <mat-icon svgIcon="git" />
        </button>    
        
        <button mat-icon-button 
            aria-label="Npm Package"
            [sbNavigateNewWindow]="_npmPkgUrl()" 
            [sbTooltip]="'Npm Package'">
            <mat-icon svgIcon="npm" />
        </button>

        <button mat-icon-button 
            aria-label="Share current page"
            (click)="share()"
            sbTooltip="Share this page">
            <mat-icon>share</mat-icon>
        </button> 
    } 
</div>


<div class="right-links">    
    
    @for(navLink of _rhsNavItems(); track navLink) {
        <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: navLink.routerLink, 
            tooltip: navLink.tooltip, 
            iconName: navLink.icon, 
            text: navLink.text
        }"/>
    }
    
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>
</div>

</mat-toolbar>


<!-- ---------------------------------------------- -->
 

<ng-template
  #navItem
  let-routerLink="routerLink"
  let-tooltip="tooltip"
  let-iconName="iconName"
  let-text="text">
  @if(!isSmallScreen()){
    <a  class="navlink text"
        [routerLink]="routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: routerLink === 'home' }">
      <div>
        {{ text }}
      </div>
  </a>
  }@else {
    <a  class="navlink btn"
        [routerLink]="routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: routerLink === 'home' }">
      <button
        mat-icon-button
        [sbTooltip]="tooltip"
        [attr.aria-label]="tooltip">
        <mat-icon>{{ iconName }}</mat-icon>
      </button>
  </a>
  }
</ng-template>


<!-- ---------------------------------------------- -->