:host {
  display: block;
}


.container{
  width: 96%;
  max-width: 1250px; 
  display: flex;
  flex-direction: column;
  border: 1px solid var(--mat-sys-outline);
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Space between cards
  align-items: center; // Space between cards
  gap: 1.5rem; // Space between cards
}