$palettes: (
    0: #000000,
    10: #1d1d00,
    20: #323200,
    25: #3e3e00,
    30: #494900,
    35: #555500,
    40: #626200,
    50: #7b7b00,
    60: #969600,
    70: #b1b100,
    80: #cdcd00,
    90: #eaea00,
    95: #f9f900,
    98: #fffeac,
    99: #fffbff,
    100: #ffffff,
    secondary: (
        0: #000000,
        10: #1d1d06,
        20: #323218,
        25: #3d3d22,
        30: #49482d,
        35: #545438,
        40: #606043,
        50: #7a795a,
        60: #949272,
        70: #aead8b,
        80: #cac8a5,
        90: #e7e4bf,
        95: #f5f3cd,
        98: #fefbd5,
        99: #fffbff,
        100: #ffffff
    ),
    tertiary: (
        0: #000000,
        10: #131f00,
        20: #233600,
        25: #2e4109,
        30: #394d14,
        35: #44591f,
        40: #50652a,
        50: #687f40,
        60: #819957,
        70: #9bb46f,
        80: #b6d088,
        90: #d2eca2,
        95: #e0fbaf,
        98: #f1ffd3,
        99: #f9ffe6,
        100: #ffffff
    ),
    neutral: (
        0: #000000,
        10: #1c1c17,
        20: #31312b,
        25: #3c3c35,
        30: #484741,
        35: #54524c,
        40: #605e58,
        50: #797770,
        60: #939189,
        70: #aeaba3,
        80: #c9c6be,
        90: #e6e2d9,
        95: #f4f0e8,
        98: #fdf9f0,
        99: #fffbff,
        100: #ffffff,
        4: #0f0e0a,
        6: #14140f,
        12: #20201b,
        17: #2b2a25,
        22: #36352f,
        24: #3a3933,
        87: #dddad1,
        92: #ece8df,
        94: #f1ede5,
        96: #f7f3ea
    ),
    neutral-variant: (
        0: #000000,
        10: #1c1c11,
        20: #313125,
        25: #3d3c2f,
        30: #48473a,
        35: #545345,
        40: #605f51,
        50: #797869,
        60: #939182,
        70: #aeac9b,
        80: #cac7b6,
        90: #e6e3d1,
        95: #f4f1df,
        98: #fdfae7,
        99: #fffbff,
        100: #ffffff
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff
    )
);
