$palettes: (
    0: #000000,
    10: #341100,
    20: #552100,
    25: #662900,
    30: #783100,
    35: #8b3a00,
    40: #9e4300,
    50: #c55500,
    60: #ee6803,
    70: #ff8d4c,
    80: #ffb691,
    90: #ffdbcb,
    95: #ffede6,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    secondary: (
        0: #000000,
        10: #310049,
        20: #481b60,
        25: #54276c,
        30: #603378,
        35: #6d3f85,
        40: #7a4b92,
        50: #9464ad,
        60: #b07dc8,
        70: #cc97e5,
        80: #e7b4ff,
        90: #f6d9ff,
        95: #fdebff,
        98: #fff7fc,
        99: #fffbff,
        100: #ffffff
    ),
    tertiary: (
        0: #000000,
        10: #131f00,
        20: #233600,
        25: #2e4109,
        30: #394d14,
        35: #44591f,
        40: #50652a,
        50: #687f40,
        60: #819957,
        70: #9bb46f,
        80: #b6d088,
        90: #d2eca2,
        95: #e0fbaf,
        98: #f1ffd3,
        99: #f9ffe6,
        100: #ffffff
    ),
    neutral: (
        0: #000000,
        10: #251912,
        20: #3c2d26,
        25: #473831,
        30: #54433c,
        35: #604f47,
        40: #6c5b52,
        50: #86736a,
        60: #a18c83,
        70: #bda79d,
        80: #d9c2b8,
        90: #f6ded3,
        95: #ffede6,
        98: #fff8f6,
        99: #fffbff,
        100: #ffffff,
        4: #170c06,
        6: #1c110b,
        12: #2a1d16,
        17: #352720,
        22: #40322a,
        24: #45362f,
        87: #edd5cb,
        92: #fce3d8,
        94: #ffeae0,
        96: #fff1eb
    ),
    neutral-variant: (
        0: #000000,
        10: #29170e,
        20: #402c21,
        25: #4c372c,
        30: #594236,
        35: #654d42,
        40: #72594d,
        50: #8c7164,
        60: #a88b7d,
        70: #c4a596,
        80: #e0c0b1,
        90: #fedbcc,
        95: #ffede6,
        98: #fff8f6,
        99: #fffbff,
        100: #ffffff
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff
    )
);
