// ===================================================================== //

/* For use in src/lib/core/theming/_palette.scss */
$primaryPalette: (
    50: #ecf1ec,
    100: #cfddd0,
    200: #afc6b0,
    300: #8eaf90,
    400: #769d79,
    500: #5e8c61,
    600: #568459,
    700: #4c794f,
    800: #426f45,
    900: #315c33,
    A100: #aaffae,
    A200: #77ff7d,
    A400: #44ff4d,
    A700: #2aff35,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$accentPalette: (
    50: #e7e8ea,
    100: #c3c5cb,
    200: #9b9fa8,
    300: #737985,
    400: #555c6b,
    500: #373f51,
    600: #31394a,
    700: #2a3140,
    800: #232937,
    900: #161b27,
    A100: #6b95ff,
    A200: #3871ff,
    A400: #054cff,
    A700: #0043eb,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$tertiaryPalette: (
    50: #fdf3ea,
    100: #fbe0cb,
    200: #f8cca9,
    300: #f5b887,
    400: #f3a86d,
    500: #f19953,
    600: #ef914c,
    700: #ed8642,
    800: #eb7c39,
    900: #e76b29,
    A100: #ffffff,
    A200: #fff6f1,
    A400: #ffd3be,
    A700: #ffc2a5,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// ===================================================================== //

// 50 : #fbefe7,
// 100 : #f4d6c2,
// 200 : #edbb9a,
// 300 : #e59f72,
// 400 : #e08b53,
// 500 : #da7635,
// 600 : #d66e30,
// 700 : #d06328,
// 800 : #cb5922,
// 900 : #c24616,
// A100 : #fff7f4,
// A200 : #ffd0c1,
// A400 : #ffaa8e,
// A700 : #ff9674,
// contrast: (
//     50 : #000000,
//     100 : #000000,
//     200 : #000000,
//     300 : #000000,
//     400 : #000000,
//     500 : #000000,
//     600 : #000000,
//     700 : #ffffff,
//     800 : #ffffff,
//     900 : #ffffff,
//     A100 : #000000,
//     A200 : #000000,
//     A400 : #000000,
//     A700 : #000000,
