<div class="container">

    <sb-email-confirmed-card  
        [message]="_emailConfirmedSuccessMsg()"
        [class.show]="_emailConfirmedSuccessMsg()"/>

    <sb-button color="error" 
        class="resend-confirmation-btn"
        [class.show]="_errorMsg()"
        (click)="resendConfirmation()">
        Resend Email Confirmation
    </sb-button>

    <sb-button color="primary" 
        [class.show]="_resendSuccess()"
        (click)="goToLogin()">
        Login
    </sb-button>
    

    
</div>


<sb-notifications-modal-mat 
    [errorMsg]="_errorMsg()" 
    [successMsg]="_resendSuccessMsg()" 
    [isLoading]="_loading()" />
