
<sb-main-demo-header/>

<div class="content-container">
  <h2>Album Detail</h2>
  <button mat-raised-button color="primary" (click)="refresh()">
    <mat-icon>refresh</mat-icon> Refresh Data
  </button>
  <button mat-raised-button color="primary" 
    (click)="randomize()"
    [matTooltip]="'Update Route param with random id to trigger MiniState input Observable'">
    <mat-icon>refresh</mat-icon> Random Data
  </button>

   <sb-album-form
      [album]="_album()"
      (edit)="edit($event)" />
</div>



<sb-notifications-modal-mat
    [errorMsg]="_errorMsg()"
    [successMsg]="_successMsg()" 
    [isLoading]="_loading()" 
    [loadingMessage]="'Loading albums...'"/>

    
<mat-divider/>


<sb-code-tabs-ts-html
  [html]="_htmlCode()"
  [typescript]="_tsCode()"/>
