:host {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

// Add to simple.component.scss
.content-container {
  width: 90%;
  max-width: 1200px;
  padding: 1rem;
  text-align: center;
}


sb-album-form {
  max-width: 500px; // Optional: Limit the maximum width of the form
  margin: 0 auto; // Optional: Center the form horizontally if width is limited
}
