<form [formGroup]="_form" 
    [sbFormControlFirstError]="_form" 
    [customErrorMessages]="spanishErrors"
    (ngSubmit)="submit()" class="login-form">
    <!-- <h2>Sign In</h2> -->
    <div class="form-group">
        @if(showLables()){
            <label [for]="'email'+_idSuffix">Email</label>
        }
        <input [id]="'email'+_idSuffix" 
            sbInputStyle
            type="email" 
            formControlName="email" 
            placeholder="Enter your email"/>
            {{_form.controls.email.touched}}-{{_form.controls.email.dirty}}
        @if(_form.controls.email.touched ) {
            @if(_form.controls.email.errors?.['firstError'];as err) {
            <span class="error">{{err}}</span>
            }
        }
    </div>
    <div class="form-group">
        @if(showLables()){
            <label [for]="'password'+_idSuffix">Password</label>
        }
          <div class="password-input-container" sbInputWithBtn color="secondary">
            <input 
                [id]="'password'+_idSuffix" 
                [type]="showPassword() ? 'text' : 'password'" 
                formControlName="password" 
                placeholder="Enter your password" />
            <sb-toggle-icon-button
                toggledLabel="Hide password"
                untoggledLabel="Show password"
                (toggled$)="onPasswordToggle($event)"/>
    </div>
        {{_form.controls.password.touched}}-{{_form.controls.password.dirty}}
        @if(_form.controls.password.touched) {
            @if(_form.controls.password.errors?.['firstError']; as err) {
            <span class="error">{{err}}</span>
            }
        }
    </div>

    @if(showRemeberMe()){
    <div class="form-group remember-me">
        <sb-checkbox formControlName="rememberMe">Remember me</sb-checkbox>
    </div>
    }

    @if(showForgotPwd()){
    <sb-text-button color="primary" (clicked)="forgotPwdClick()">
        Forgot Password?
    </sb-text-button>
    }

    @if(socialTemplate(); as template){
    <ng-container [ngTemplateOutlet]="template" />
    }

    <sb-button type="submit" [disabled]="_form.invalid" color="primary">Login</sb-button>

</form>