<div class="home-container">

  <rd-hero-banner 
    [title]="_title" 
    [subtitle]="_subtitle" 
    [description]="_description" 
    [imageUrl]="_heroImageUrl" 
    [imageAlt]="_heroImageAlt"
    [actionsTemplate]="bannerActionsTemplate" />

  <section class="features-section">
    <h2 class="section-title">Navigation</h2>

    <div class="features-grid">
      @for (route of _mainRoutes; track $index) {
      <rd-ui-cards-admin-nav [data]="route" />
      }
    </div>
  </section>
  
  <mat-divider />

  <rd-concept-demo/>


  <footer class="home-footer">
    <p>Route Defs Demo</p>
    <p><small>Built with Angular</small></p>
  </footer>
</div>


<!-- ########################################### -->

<ng-template #bannerActionsTemplate>
  <div class="banner-actions">
      <a mat-raised-button class="secondary-palette"
        [routerLink]="_tutorialRoute" [matTooltip]="`Learn the system`">
      <mat-icon>psychology_alt</mat-icon>
      Full Tutorial
    </a>

    <div class="cta-buttons">
      <a mat-raised-button [routerLink]="_productsRoute" [matTooltip]="`MainSectionRoutesDefs.route('products')`">
      <mat-icon>storefront</mat-icon>
      Products
    </a>
    <a mat-stroked-button color="accent" [routerLink]="_aboutRoute" [matTooltip]="`MainSectionRoutesDefs.route('about')`">
      <mat-icon>info</mat-icon>
      About Us
    </a>
  </div>
</div>
</ng-template>

<!-- ########################################### -->