:host {
  --color-border: var(--mat-sys-primary-40);
  --color-bg: tranparent;
  --color-bg-checked: var(--mat-sys-primary);
  --color-bg-disabled: var(--mat-sys-primary-95);
  --color-check: var(--mat-sys-primary-100);
  --color-txt: var(--mat-sys-surface);
}

.sb-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 1rem;
  user-select: none;
  color: var(--color-txt);
}

.sb-checkbox-input {
  display: none;
}

.sb-checkbox-custom {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--color-border);
  border-radius: 0.3rem;
  background: var(--color-bg);
  position: relative;
  transition: border-color 0.2s, background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sb-checkbox-custom #icon {
  opacity: 0;
}

.sb-checkbox-label.secondary {
  --color-border: var(--mat-sys-secondary-40);
  --color-bg-checked: var(--mat-sys-secondary);
  --color-bg-disabled: var(--mat-sys-secondary-95);
  --color-check: var(--mat-sys-secondary-100);
}


.sb-checkbox-label.tertiary {
  --color-border: var(--mat-sys-tertiary-40);
  --color-bg-checked: var(--mat-sys-tertiary);
  --color-bg-disabled: var(--mat-sys-tertiary-95);
  --color-check: var(--mat-sys-tertiary-100);
}



.sb-checkbox-label.error {
  --color-border: var(--mat-sys-error-40);
  --color-bg-checked: var(--mat-sys-error);
  --color-bg-disabled: var(--mat-sys-error-95);
  --color-check: var(--mat-sys-error-100);
}


.sb-checkbox-input:checked+.sb-checkbox-custom {
  background: var(--color-bg-checked);
  border-color: var(--color-bg-checked);

  #icon {
    opacity: 1;
  }
}


.sb-checkbox-input:disabled+.sb-checkbox-custom {
  background: var(--color-bg-disabled);
  border-color: var(--color-bg-disabled);
  cursor: not-allowed;
  opacity: 0.5;
}

// .sb-checkbox-label:has(.sb-checkbox-input:disabled) {
//   color: var(--mat-sys-primary-80);
//   cursor: not-allowed;
// }