<div class="content-container">
    
  <sb-main-demo-header/>
  
    <sb-data-table 
      [data]="_data()" 
      [displayColumns]="_displayColumns()"
      [isLoading]="_loading()" 
      [includeActions]="false"
      [title]="'Album Collection'"
      [emptyMessage]="'No albums found. Try refreshing the data.'"
      [loadingMessage]="'Loading albums...'"
      [itemName]="'album'"
      [iconName]="'album'"
      (refresh)="refresh()"/>
</div>

<sb-notifications-modal-mat
    [errorMsg]="_errorMsg()"
    [successMsg]="_successMsg()" 
    [isLoading]="_loading()" 
    [loadingMessage]="'Loading albums...'"/>


    <mat-divider/>

    <!-- ============================================== -->

    <div class="code-display">
      <mat-tab-group>
        <mat-tab label="TypeScript">
          <pre><code [highlight]="tsCode" language="typescript"></code></pre>
        </mat-tab>
        <mat-tab label="HTML">
          <pre><code [highlight]="htmlCode" language="html"></code></pre>
        </mat-tab>
      </mat-tab-group>
    </div>
    