

<div class="content-container">
    <sb-data-table 
      [items]="_data()" 
      [displayColumns]="displayColumns()"
      [isLoading]="_loading()" 
      [includeActions]="false"
      [title]="'Album Collection'"
      [emptyMessage]="'No albums found. Try refreshing the data.'"
      [loadingMessage]="'Loading albums...'"
      [itemName]="'album'"
      [iconName]="'album'"
      (refresh)="refresh()"/>
</div>



<sb-notifications-modal-mat
    [errorMsg]="_errorMsg()"
    [successMsg]="_successMsg()" 
    [isLoading]="_loading()" 
    [loadingMessage]="'Loading albums...'"/>
