
<sb-main-demo-header/>

<div class="content-container">
  <div class="search-form">
    <mat-form-field>
      <mat-label>Search Albums</mat-label>
      <input matInput      
       [formControl]="_searchControl"
       placeholder="Enter name or email">
    </mat-form-field>
    <div class="btns">

      <button mat-raised-button 
        class="primary" 
        [matTooltip]="'Search data'"
        [disabled]="_loading() || !_searchControl.value" 
        (click)="filterData(_searchControl.value!)">
        Search
      </button>
      <button mat-raised-button 
      class="primary" 
      [matTooltip]="'Refresh data with no filtering'"
      [disabled]="_loading() || !_searchControl.value" 
      (click)="clearSearch()">
      Clear
    </button>
</div>
  
  </div>
    <sb-data-table 
      [data]="_data()" 
      [displayColumns]="displayColumns()"
      [isLoading]="_loading()" 
      [includeActions]="true"
      [title]="'Album Collection'"
      [emptyMessage]="'No albums found. Try refreshing the data.'"
      [loadingMessage]="'Loading albums...'"
      [itemName]="'album'"
      [iconName]="'album'"
      [canAddItem]="true"
      (refresh)="refresh()"
      (addItem)="openAddAlbumDialog()"
      (editItem)="openEditAlbumDialog($event)"
      (deleteItem)="onDeleteItem($event)"/>
</div>

<sb-notifications-modal-mat
  [errorMsg]="_errorMsg()"
  [successMsg]="_successMsg()" 
  [successMsg]="_successMsg()" 
  [isLoading]="_loading()" 
  [loadingMessage]="'Loading albums...'"/>

<mat-divider/>

<sb-main-demo-code 
  [html]="_htmlCode()"
  [typescript]="_tsCode()"/>

  
<h2>Example with separate state service</h2>

<sb-main-demo-component-with-separate-state-code
  [html]="_htmlCode()"
  [typescriptState]="_tsWithStateServiceCode()"
  [typescriptComponent]="_tsWithStateComponentCode()"/>
