@use '@angular/material' as mat;

//======================= SPIN ========================//

.secondary-theme {
  @include mat.select-overrides(
    (
      focused-arrow-color: var(--mat-sys-secondary)
    )
  );
}



.tertiary-theme {
  @include mat.select-overrides(
    (
      focused-arrow-color: var(--mat-sys-tertiary)
    )
  );
}



.error-theme {
  @include mat.select-overrides(
    (
      focused-arrow-color: var(--mat-sys-error)
    )
  );
}



