@use "@angular/material" as mat;

//======================= SPIN ========================//

.primary-theme {
  @include mat.icon-overrides(
    (
        color: var(--mat-sys-primary)
    )
  );
}

.secondary-theme {
  @include mat.icon-overrides(
    (
        color: var(--mat-sys-secondary)
    )
  );
}

.tertiary-theme {
  @include mat.icon-overrides(
    (
        color: var(--mat-sys-tertiary)
    )
  );
}

.error-theme {
  @include mat.icon-overrides(
    (
        color: var(--mat-sys-error)
    )
  );
}
