@use '@angular/material' as mat;

//======================= SPIN ========================//

.secondary-theme {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-secondary)
    )
  );
}



.tertiary-theme {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-tertiary)
    )
  );
}



.error-theme {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-error)
    )
  );
}




//======================== LINE ========================//
.secondary-theme {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--mat-sys-secondary)
    )
  );
}



.tertiary-theme {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--mat-sys-tertiary)
    )
  );
}



.error-theme {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--mat-sys-error)
    )
  );
}