@use '@angular/material' as mat;

//======================= TABS ========================//

.secondary-theme {
  @include mat.tabs-overrides(
    (
      active-indicator-color: var(--mat-sys-secondary),
      active-focus-indicator-color: var(--mat-sys-secondary),
      active-hover-indicator-color: var(--mat-sys-secondary)
    )
  );
}

.tertiary-theme {
  @include mat.tabs-overrides(
    (
      active-indicator-color: var(--mat-sys-tertiary),
      active-focus-indicator-color: var(--mat-sys-tertiary),
      active-hover-indicator-color: var(--mat-sys-tertiary)
    )
  );
}

.error-theme {
  @include mat.tabs-overrides(
    (
      active-indicator-color: var(--mat-sys-error),
      active-focus-indicator-color: var(--mat-sys-error),
      active-hover-indicator-color: var(--mat-sys-error)
    )
  );
}