@use '@angular/material' as mat;
@use "scss/mat/material-theme.scss" as *;
@import 'highlight.js/styles/github.css';
@import 'highlight.js/styles/vs2015.css'; // Dark theme



.material-icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
