<mat-toolbar >
    <span>Mat Theming</span>
    <span class="spacer"></span>    
    <button mat-icon-button 
        aria-label="Git repo for project"
        [mlNavigateNewWindow]="_gitRepoUrl" 
        [matTooltip]="'Git repo'">
        <mat-icon svgIcon="git" />
    </button>
    <button mat-icon-button 
        aria-label="Share current page"
        (click)="share()"
        matTooltip="Share this page">
    <mat-icon>share</mat-icon>
    </button>
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>
</mat-toolbar>