<mat-toolbar >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Mat Theming</span>
    <span class="example-spacer"></span>    
    <button mat-icon-button 
        aria-label="Git repo for project"
        [mlNavigateNewWindow]="_gitRepoUrl" 
        [matTooltip]="'Git repo'">
        <mat-icon svgIcon="git" />
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>
</mat-toolbar>