:host {
  display: block;
  width: 100%;
}


.rhs-outlet {
  margin-left: auto; /* Aligns the element to the right */
  // border: 1px solid red; /* Adds a 1px solid red border */
}

.spacer{
  width: 24px;
}

.navlink{
  cursor: pointer ;

}


@media screen and (max-width: 600px) {
  .spacer {
    width: 12px;
  }
}