
<div class="container">

    <div class="form-container" [class.hide]="_successMsg()">
        <div class="header">
            <h2>Register</h2>
            <!-- <p class="description">Create a secure password for your account.</p> -->
        </div>
   
    <sb-reg-customer-form
        class="form"
        (register)="register($event)"
        [socialTemplate]="socialTemplate"/>
        
    </div>

    <sb-confirmed-card  
        [title]="'Registered!'"
        [message]="_successMsg()"
        [class.show]="_successMsg()"/>
    
</div>



<sb-notifications-modal-mat 
    [errorMsg]="_errorMsg()"    
    [toastMsg]="_successMsg()" 
    [isLoading]="_loading()" />

    

  

<!-- ####################################### -->


<ng-template #socialTemplate>
     <asl-google-signin-button type='standard' size='large' />
</ng-template>


<!-- ####################################### -->