<div class="data-table-container">
  <div class="table-header">
    <h2>{{ _title() }}</h2>
    <div class="table-actions">
      <button mat-raised-button color="primary" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon> Refresh Data
      </button>
      @if (_canAddItem()) {
        <button mat-raised-button color="primary" (click)="onAddItem()">
          <mat-icon>add</mat-icon> New Item
        </button>
      }
    </div>
  </div>
  

  @if (_data() && _data().length > 0) {
    <div class="table-container">
      @if (_isLoading()) {
        <mat-progress-bar mode="indeterminate" />
      }      
      <table mat-table [dataSource]="_data()">
        <!-- Dynamic Columns -->
        @for (column of _displayColumns(); track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
            <td mat-cell *matCellDef="let item">{{ item[column] }}</td>
          </ng-container>
        }
        
        <!-- Actions Column -->
        @if (_includeActions()) {
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let item">
              <!-- <button mat-icon-button color="primary" matTooltip="View Details" (click)="onViewDetails(item)">
                <mat-icon>visibility</mat-icon>
              </button> -->
              <button mat-icon-button color="accent" matTooltip="Edit" (click)="onEditItem(item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" matTooltip="Delete" (click)="onDeleteItem(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        }
        
        <tr mat-header-row *matHeaderRowDef="allDisplayColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: allDisplayColumns();"></tr>
      </table>
    </div>
  } @else {
    <div class="no-data">
      <mat-icon>{{ _iconName() }}</mat-icon>
      <p>{{ _emptyMessage() }}</p>
    </div>
  }
</div>

