@use "@angular/material" as mat;

//======================= SPIN ========================//

.primary-palette {
  @include mat.badge-overrides(
    (
        background-color: var(--mat-sys-primary),
        disabled-state-background-color: var(--mat-sys-primary),
      text-color: var(--mat-sys-on-primary)
    )
  );
}

.secondary-palette {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-secondary),
      disabled-state-background-color: var(--mat-sys-secondary),
      text-color: var(--mat-sys-on-secondary)
    )
  );
}

.tertiary-palette {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-tertiary),      
      disabled-state-background-color: var(--mat-sys-tertiary),
      text-color: var(--mat-sys-on-tertiary)
    )
  );
}

.error-palette {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-error),
      disabled-state-background-color: var(--mat-sys-error),  
      text-color: var(--mat-sys-on-error)
    )
  );
}
