<div class="home-container">
    
  <section class="features-section">
    <h2 class="section-title">Auth Pages</h2>

    <div class="features-grid">
      @for (feature of _features(); track feature.title ) {
        <sb-myid-card
          [icon]="feature.icon"
          [title]="feature.title"
          [content]="feature.description"
          [route]="feature.route"
          [color]="feature.color"/>
      }
    </div>
  </section>
  <footer class="home-footer">
    <p>myid-demo</p>
    <p><small>Built with Angular</small></p>
  </footer>
</div>


