<div class="component-container">
    <rd-hero-banner 
        [title]="_title" 
        [subtitle]="_subtitle" 
        [description]="_description" 
        [imageUrl]="_heroImageUrl" 
        [imageAlt]="_heroImageAlt"
        [actionsTemplate]="bannerActionsTemplate" />
</div>


<!-- ########################################### -->

<ng-template #bannerActionsTemplate>
  <div class="banner-actions">
    <h3>View changes</h3>
    <div class="cta-buttons">
      <a mat-raised-button [routerLink]="_prodAdminHomeRoute">
        <mat-icon>storefront</mat-icon>
        Admin Products Home
      </a>
      <a mat-raised-button [routerLink]="_mainProductsRoute">
        <mat-icon>dashboard</mat-icon>
        Main Products
      </a>
    </div>
  </div>
</ng-template>

<!-- ########################################### -->
