<mat-expansion-panel [expanded]="true">

  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>palette</mat-icon>
      <span class="icon-spacing">Theme Configuration</span>
    </mat-panel-title>
    <!-- <mat-panel-description>
    </mat-panel-description>     -->
  </mat-expansion-panel-header>
  
 <div class="centered-content">
    <sb-theme-selector />
  </div>

</mat-expansion-panel>




<mat-divider />

<div class="applied-theme-display">
  <sb-theme-showcase-mat />
</div>

<mat-divider />

