:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.icon-spacing {
  margin-left: 16px;
}
.centered-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

sb-theme-selector {
  width: 96%;
  max-width: 1000px;
}


mat-divider {
  margin: 2rem 0;
  width: 90%;
}