<mat-toolbar >
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'home', 
            tooltip: 'Home', 
            iconName: 'home', 
            text: 'Home'
        }">
    </ng-container>
    
    <span class="spacer"></span>    
    
    <button mat-icon-button 
        aria-label="Git repo for project"
        [mlNavigateNewWindow]="_gitRepoUrl()" 
        [matTooltip]="'Git repo'">
        <mat-icon svgIcon="git" />
    </button>    
    
    <button mat-icon-button 
        aria-label="Npm Package"
        [mlNavigateNewWindow]="_npmPkgUrl()" 
        [matTooltip]="'Npm Package'">
        <mat-icon svgIcon="npm" />
    </button>

    <button mat-icon-button 
        aria-label="Share current page"
        (click)="share()"
        matTooltip="Share this page">
        <mat-icon>share</mat-icon>
    </button>

    <span class="spacer"></span>    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'custom-theming', 
            tooltip: 'Custom Themes', 
            iconName: 'tune', 
            text: 'Customize'
        }">
    </ng-container>

    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'multi-demo', 
            tooltip: 'Multiple Themes', 
            iconName: 'workspaces', 
            text: 'Multi-Theming'
        }">
    </ng-container>
    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'multi-demo', 
            tooltip: 'Seasonal Themes', 
            iconName: 'local_florist', 
            text: 'Seasons'
        }">
    </ng-container>
  
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>

</mat-toolbar>


<!-- ---------------------------------------------- -->


<ng-template #navItem let-routerLink="routerLink" let-tooltip="tooltip" let-iconName="iconName" let-text="text">
    @if(!isSmallScreen()){
        <div class="navlink" 
            [routerLink]="routerLink" 
            [matTooltip]="tooltip">
            {{text}}
        </div>
    }@else {
        <button mat-icon-button 
            [routerLink]="routerLink"
            [matTooltip]="tooltip"
            [attr.aria-label]="tooltip">
            <mat-icon>{{iconName}}</mat-icon>   
        </button>
    }
</ng-template>


<!-- ---------------------------------------------- -->