html{
    --color-primary-0: #000000;
    --color-primary-4: #061100;
    --color-primary-6: #0a1700;
    --color-primary-10: #0f2000;
    --color-primary-12: #122400;
    --color-primary-17: #1a3000;
    --color-primary-20: #1e3700;
    --color-primary-22: #213c00;
    --color-primary-24: #244000;
    --color-primary-25: #264300;
    --color-primary-30: #2e4f00;
    --color-primary-35: #365c00;
    --color-primary-40: #3e6a00;
    --color-primary-50: #52840b;
    --color-primary-60: #6a9f2a;
    --color-primary-70: #83bb43;
    --color-primary-80: #9ed75b;
    --color-primary-87: #b0eb6d;
    --color-primary-90: #b9f474;
    --color-primary-92: #befa79;
    --color-primary-94: #c6ff85;
    --color-primary-95: #d2ff9d;
    --color-primary-96: #dcffb2;
    --color-primary-98: #f0ffd8;
    --color-primary-99: #f8ffe9;
    --color-primary-100: #ffffff;
    --color-secondary-0: #000000;
    --color-secondary-4: #110e00;
    --color-secondary-6: #171400;
    --color-secondary-10: #201c00;
    --color-secondary-12: #242000;
    --color-secondary-17: #2f2a00;
    --color-secondary-20: #363100;
    --color-secondary-22: #3b3500;
    --color-secondary-24: #403a00;
    --color-secondary-25: #433c00;
    --color-secondary-30: #4f4800;
    --color-secondary-35: #5c5300;
    --color-secondary-40: #695f00;
    --color-secondary-50: #847800;
    --color-secondary-60: #a09200;
    --color-secondary-70: #bdad00;
    --color-secondary-80: #dbc90a;
    --color-secondary-87: #f0dc2b;
    --color-secondary-90: #f9e534;
    --color-secondary-92: #ffeb3b;
    --color-secondary-94: #fff081;
    --color-secondary-95: #fff39e;
    --color-secondary-96: #fff5b8;
    --color-secondary-98: #fff9e8;
    --color-secondary-99: #fffbff;
    --color-secondary-100: #ffffff;
    --color-tertiary-0: #000000;
    --color-tertiary-4: #26000b;
    --color-tertiary-6: #300010;
    --color-tertiary-10: #3f0018;
    --color-tertiary-12: #47001b;
    --color-tertiary-17: #5a0025;
    --color-tertiary-20: #66002a;
    --color-tertiary-22: #6e002e;
    --color-tertiary-24: #760032;
    --color-tertiary-25: #7a0034;
    --color-tertiary-30: #8f003f;
    --color-tertiary-35: #a50049;
    --color-tertiary-40: #bb0054;
    --color-tertiary-50: #e1266c;
    --color-tertiary-60: #ff4c86;
    --color-tertiary-70: #ff85a4;
    --color-tertiary-80: #ffb1c1;
    --color-tertiary-87: #ffcdd6;
    --color-tertiary-90: #ffd9df;
    --color-tertiary-92: #ffe1e5;
    --color-tertiary-94: #ffe9eb;
    --color-tertiary-95: #ffecee;
    --color-tertiary-96: #fff0f1;
    --color-tertiary-98: #fff8f7;
    --color-tertiary-99: #fffbff;
    --color-tertiary-100: #ffffff;
    --color-error-0: #000000;
    --color-error-4: #280001;
    --color-error-6: #310001;
    --color-error-10: #410002;
    --color-error-12: #490002;
    --color-error-17: #5c0004;
    --color-error-20: #690005;
    --color-error-22: #710005;
    --color-error-24: #790006;
    --color-error-25: #7e0007;
    --color-error-30: #93000a;
    --color-error-35: #a80710;
    --color-error-40: #ba1a1a;
    --color-error-50: #de3730;
    --color-error-60: #ff5449;
    --color-error-70: #ff897d;
    --color-error-80: #ffb4ab;
    --color-error-87: #ffcfc9;
    --color-error-90: #ffdad6;
    --color-error-92: #ffe2de;
    --color-error-94: #ffe9e6;
    --color-error-95: #ffedea;
    --color-error-96: #fff0ee;
    --color-error-98: #fff8f7;
    --color-error-99: #fffbff;
    --color-error-100: #ffffff;
    --color-neutral-0: #000000;
    --color-neutral-4: #0d0f0b;
    --color-neutral-6: #121410;
    --color-neutral-10: #1b1c18;
    --color-neutral-12: #1f201c;
    --color-neutral-17: #292a26;
    --color-neutral-20: #30312c;
    --color-neutral-22: #343530;
    --color-neutral-24: #383a35;
    --color-neutral-25: #3b3c37;
    --color-neutral-30: #464742;
    --color-neutral-35: #52534d;
    --color-neutral-40: #5e5f59;
    --color-neutral-50: #777771;
    --color-neutral-60: #91918b;
    --color-neutral-70: #abaca5;
    --color-neutral-80: #c7c7c0;
    --color-neutral-87: #dbdad3;
    --color-neutral-90: #e3e3db;
    --color-neutral-92: #e9e8e1;
    --color-neutral-94: #efeee7;
    --color-neutral-95: #f2f1e9;
    --color-neutral-96: #f5f4ec;
    --color-neutral-98: #fafaf2;
    --color-neutral-99: #fdfcf5;
    --color-neutral-100: #ffffff;
    --color-neutralVariant-0: #000000;
    --color-neutralVariant-4: #0c0f07;
    --color-neutralVariant-6: #11150c;
    --color-neutralVariant-10: #191d14;
    --color-neutralVariant-12: #1d2118;
    --color-neutralVariant-17: #272b22;
    --color-neutralVariant-20: #2e3228;
    --color-neutralVariant-22: #32362c;
    --color-neutralVariant-24: #373b30;
    --color-neutralVariant-25: #393d32;
    --color-neutralVariant-30: #44483d;
    --color-neutralVariant-35: #505449;
    --color-neutralVariant-40: #5c6054;
    --color-neutralVariant-50: #75796c;
    --color-neutralVariant-60: #8e9285;
    --color-neutralVariant-70: #a9ad9f;
    --color-neutralVariant-80: #c5c8ba;
    --color-neutralVariant-87: #d8dccd;
    --color-neutralVariant-90: #e1e4d5;
    --color-neutralVariant-92: #e7eadb;
    --color-neutralVariant-94: #ecefe0;
    --color-neutralVariant-95: #eff2e3;
    --color-neutralVariant-96: #f2f5e6;
    --color-neutralVariant-98: #f8fbec;
    --color-neutralVariant-99: #fbfeee;
    --color-neutralVariant-100: #ffffff;
    --mat-sys-primary: #9ed75b;
    --mat-sys-on-primary: #1e3700;
    --mat-sys-primary-container: #2e4f00;
    --mat-sys-on-primary-container: #b9f474;
    --mat-sys-secondary: #dbc90a;
    --mat-sys-on-secondary: #363100;
    --mat-sys-secondary-container: #4f4800;
    --mat-sys-on-secondary-container: #f9e534;
    --mat-sys-tertiary: #ffb1c1;
    --mat-sys-on-tertiary: #66002a;
    --mat-sys-tertiary-container: #8f003f;
    --mat-sys-on-tertiary-container: #ffd9df;
    --mat-sys-error: #ffb4ab;
    --mat-sys-on-error: #690005;
    --mat-sys-error-container: #93000a;
    --mat-sys-on-error-container: #ffdad6;
    --mat-sys-background: #121410;
    --mat-sys-on-background: #e3e3db;
    --mat-sys-surface: #121410;
    --mat-sys-on-surface: #e3e3db;
    --mat-sys-surface-container: #1f201c;
    --mat-sys-surface-container-low: #1b1c18;
    --mat-sys-surface-container-high: #292a26;
    --mat-sys-primary-fixed: #b9f474;
    --mat-sys-primary-fixed-dim: #9ed75b;
    --mat-sys-on-primary-fixed: #0f2000;
    --mat-sys-on-primary-fixed-variant: #2e4f00;
    --mat-sys-secondary-fixed: #f9e534;
    --mat-sys-secondary-fixed-dim: #dbc90a;
    --mat-sys-on-secondary-fixed: #201c00;
    --mat-sys-on-secondary-fixed-variant: #4f4800;
    --mat-sys-tertiary-fixed: #ffd9df;
    --mat-sys-tertiary-fixed-dim: #ffb1c1;
    --mat-sys-surface-variant: #44483d;
    --mat-sys-on-surface-variant: #c5c8ba;
    --mat-sys-surface-container-lowest: #0d0f0b;
    --mat-sys-surface-container-highest: #343530;
    --mat-sys-surface-dim: #121410;
    --mat-sys-surface-bright: #383a35;
    --mat-sys-outline: #8e9285;
    --mat-sys-outline-variant: #44483d;
    --mat-sys-inverse-primary: #3e6a00;
    --mat-sys-inverse-surface: #e3e3db;
    --mat-sys-inverse-on-surface: #30312c;
    --mat-sys-surface-tint: #9ed75b;
    --mat-sys-scrim: #000000;
    --mat-sys-shadow: #000000;
    --mat-sys-neutral10: #1b1c18;
    --mat-sys-neutral-variant20: #2e3228;
    --mat-seed-primary: #8BC34A;
    --mat-seed-secondary: #FFEB3B;
    --mat-seed-tertiary: #FF4081;
    --mat-seed-error: #B3261E;
    --mat-sys-primary-rgb: 158, 215, 91;
    --mat-sys-on-primary-rgb: 30, 55, 0;
    --mat-sys-primary-container-rgb: 46, 79, 0;
    --mat-sys-secondary-rgb: 219, 201, 10;
    --mat-sys-on-secondary-rgb: 54, 49, 0;
    --mat-sys-surface-rgb: 18, 20, 16;
    --mat-sys-on-surface-rgb: 227, 227, 219;
    --mat-sys-error-rgb: 255, 180, 171;
    --mat-sys-background-rgb: 18, 20, 16;
}