
<sb-modal
  [(open)]="_showAddForm"
  [template]="addMntcMemberForm"/>
  
  <sb-data-table  
   [data]="_data()"
   [columns]="_tableColumns"
   (addItem)="handleAddItem()"
   (rowClick)="onRowClick($event)"/>


   
<sb-notifications-modal-mat 
    [errorMsg]="_errorMsg()" 
    [toastMsg]="_successMsg()" 
    [isLoading]="_loading()" 
    [loadingMessage]="'Loading ...'" />
  

    
  <ng-template #addMntcMemberForm>
    <sb-add-mntc-member-form 
      (addMember)="addMntcMember($event)"/>
  </ng-template>