
<sb-crud-table
  class="table"
  [addFormTemplate]="addMntcMemberForm"
  [updateFormTemplate]="updateMemberForm"
  [tableColumns]="_tableColumns()"
  [data]="_data()"
  [loading]="_loading()"
  [errorMsg]="_errorMsg()"
  [successMsg]="_successMsg()"
  [addItemTooltip]="'Add Mntc Member'"
  [deleteModalMessageFn]="_deleteMessageFn"
  [rowClickable]="_canUpdateMember()"
  (deleteItem)="deleteMember($event)"/>

  
    
    
  <ng-template #addMntcMemberForm>
    <sb-add-mntc-member-form 
      [teamPositionOptions]="_teamPositionOptions"
      (addMember)="addMntcMember($event)"/>
  </ng-template>

  
<ng-template #updateMemberForm let-member>
  <sb-update-team-position-form 
    [member]="member"
    [teamPositionOptions]="_teamPositionOptions"
    (updatePosition)="updatePosition($event)"/>
</ng-template>
