<mat-toolbar>
  <div class="left-links">
    <img
      class="navlink"
      [src]="_logoSml"
      alt="SpiderBaby Material"
      [routerLink]="'home'"
      routerLinkActive="active"
      [matTooltip]="'Home'"
      [attr.aria-label]="'home'"/>

    @if(!isSmallScreen()){
    <button
      mat-icon-button
      aria-label="Git repo for project"
      [sbNavigateNewWindow]="_gitRepoUrl"
      [matTooltip]="'Git repo'">
      <mat-icon svgIcon="git" />
    </button>

    <button
      mat-icon-button
      aria-label="Share current page"
      (click)="share()"
      matTooltip="Share this page">
      <mat-icon>share</mat-icon>
    </button>
    }
  </div>

  <div class="right-links">
    @for(navLink of _rhsNavItems; track $index) {
    <ng-container
      [ngTemplateOutlet]="navItem"
      [ngTemplateOutletContext]="{
        routerLink: navLink.route,
        tooltip: navLink.tooltip,
        iconName: navLink.icon,
        text: navLink.text
      }"
    />
  }
  
  <mat-divider [vertical]="true"/>

  <ng-container
    [ngTemplateOutlet]="navItem"
    [ngTemplateOutletContext]="{
      routerLink: _adminRoute,
      tooltip: 'AppRouteDefs.fullPathsWithSlash.admin.route()',
      iconName: 'admin_panel_settings',
      text: 'Admin'
    }"
  />

    <div class="rhs-outlet">
      @if(_rhsOutletTemplate(); as template){
      <ng-container [ngTemplateOutlet]="template" />
      }
    </div>
  </div>
</mat-toolbar>

<!-- ---------------------------------------------- -->

<ng-template
  #navItem
  let-routerLink="routerLink"
  let-tooltip="tooltip"
  let-iconName="iconName"
  let-text="text">
  @if(!isSmallScreen()){
    <a  class="navlink text"
        [routerLink]="routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: routerLink === 'home' }">
      <div
        [matTooltip]="tooltip">
        {{ text }}
      </div>
  </a>
  }@else {
    <a  class="navlink btn"
        [routerLink]="routerLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: routerLink === 'home' }">
      <button
        mat-icon-button
        [matTooltip]="tooltip"
        [attr.aria-label]="tooltip">
        <mat-icon>{{ iconName }}</mat-icon>
      </button>
  </a>
  }
</ng-template>

<!-- ---------------------------------------------- -->
