// ===================================================================== //

/* For use in src/lib/core/theming/_palette.scss */
$primaryPalette: (
    50 : #f2f8fa,
    100 : #deedf2,
    200 : #c8e1ea,
    300 : #b1d5e1,
    400 : #a1ccda,
    500 : #90c3d4,
    600 : #88bdcf,
    700 : #7db5c9,
    800 : #73aec3,
    900 : #61a1b9,
    A100 : #ffffff,
    A200 : #f4fcff,
    A400 : #c1edff,
    A700 : #a7e6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$accentPalette: (
    50 : #ebeae9,
    100 : #cccac9,
    200 : #aba6a5,
    300 : #898280,
    400 : #6f6865,
    500 : #564d4a,
    600 : #4f4643,
    700 : #453d3a,
    800 : #3c3432,
    900 : #2b2522,
    A100 : #fc9a7a,
    A200 : #fb7548,
    A400 : #ff4c11,
    A700 : #f63e00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$tertiaryPalette: (
    50 : #ebe5e7,
    100 : #cebdc2,
    200 : #ad9199,
    300 : #8c6570,
    400 : #744452,
    500 : #5b2333,
    600 : #531f2e,
    700 : #491a27,
    800 : #401520,
    900 : #2f0c14,
    A100 : #ff6b8b,
    A200 : #ff3863,
    A400 : #ff053b,
    A700 : #eb0032,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// ===================================================================== //


// 50 : #fbefe7,
// 100 : #f4d6c2,
// 200 : #edbb9a,
// 300 : #e59f72,
// 400 : #e08b53,
// 500 : #da7635,
// 600 : #d66e30,
// 700 : #d06328,
// 800 : #cb5922,
// 900 : #c24616,
// A100 : #fff7f4,
// A200 : #ffd0c1,
// A400 : #ffaa8e,
// A700 : #ff9674,
// contrast: (
//     50 : #000000,
//     100 : #000000,
//     200 : #000000,
//     300 : #000000,
//     400 : #000000,
//     500 : #000000,
//     600 : #000000,
//     700 : #ffffff,
//     800 : #ffffff,
//     900 : #ffffff,
//     A100 : #000000,
//     A200 : #000000,
//     A400 : #000000,
//     A700 : #000000,