// ===================================================================== //

/* For use in src/lib/core/theming/_palette.scss */
$primaryPalette: (
    50 : #eaeaea,
    100 : #cbcbcb,
    200 : #a8a8a8,
    300 : #858585,
    400 : #6a6a6a,
    500 : #505050,
    600 : #494949,
    700 : #404040,
    800 : #373737,
    900 : #272727,
    A100 : #f18585,
    A200 : #ec5757,
    A400 : #ff1111,
    A700 : #f60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$accentPalette: (
    50 : #fbf9f6,
    100 : #f6f1e9,
    200 : #f0e8db,
    300 : #eadecc,
    400 : #e6d7c1,
    500 : #e1d0b6,
    600 : #ddcbaf,
    700 : #d9c4a6,
    800 : #d5be9e,
    900 : #cdb38e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffefc,
    A700 : #fff3e3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = //

$tertiaryPalette: (
    50 : #f2f8fa,
    100 : #deedf2,
    200 : #c8e1ea,
    300 : #b1d5e1,
    400 : #a1ccda,
    500 : #90c3d4,
    600 : #88bdcf,
    700 : #7db5c9,
    800 : #73aec3,
    900 : #61a1b9,
    A100 : #ffffff,
    A200 : #f4fcff,
    A400 : #c1edff,
    A700 : #a7e6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// ===================================================================== //


// 50 : #fbefe7,
// 100 : #f4d6c2,
// 200 : #edbb9a,
// 300 : #e59f72,
// 400 : #e08b53,
// 500 : #da7635,
// 600 : #d66e30,
// 700 : #d06328,
// 800 : #cb5922,
// 900 : #c24616,
// A100 : #fff7f4,
// A200 : #ffd0c1,
// A400 : #ffaa8e,
// A700 : #ff9674,
// contrast: (
//     50 : #000000,
//     100 : #000000,
//     200 : #000000,
//     300 : #000000,
//     400 : #000000,
//     500 : #000000,
//     600 : #000000,
//     700 : #ffffff,
//     800 : #ffffff,
//     900 : #ffffff,
//     A100 : #000000,
//     A200 : #000000,
//     A400 : #000000,
//     A700 : #000000,