// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./typography" as typography;
@use "sass:map";


@use "./overrides/mat-color-overrides.scss" as matColorOverrides;



html {
    //Leave the color empty we are handling this in JS
    @include mat.theme(());
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // These will be set by the ThemeGeneratorService
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
@include mat.all-component-typographies(typography.$fontConfig);
@include mat.core();
