<mat-toolbar >
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: '/', 
            tooltip: 'MainPage', 
            iconName: 'palette', 
            text: 'MainPage'
        }">
    </ng-container>

    <span class="spacer"></span>    

    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'home', 
            tooltip: 'Home', 
            iconName: 'home', 
            text: 'Home'
        }">
    </ng-container>
    
    <span class="spacer"></span>    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'spring', 
            tooltip: 'Spring Theme', 
            iconName: 'spa', 
            text: 'Spring'
        }">
    </ng-container>

    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'summer', 
            tooltip: 'Summer Theme', 
            iconName: 'sunny', 
            text: 'Summer'
        }">
    </ng-container>    

    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'autumn', 
            tooltip: 'Autumn Theme', 
            iconName: 'eco', 
            text: 'Autumn'
        }">
    </ng-container>

    
    <ng-container 
        [ngTemplateOutlet]="navItem" 
        [ngTemplateOutletContext]="{
            routerLink: 'winter', 
            tooltip: 'Winter Theme', 
            iconName: 'ac_unit', 
            text: 'Winter'
        }">
    </ng-container>

  
    <div class="rhs-outlet">
        @if(_rhsOutletTemplate(); as template){
        <ng-container [ngTemplateOutlet]="template" />
        }
    </div>

</mat-toolbar>


<!-- ---------------------------------------------- -->


<ng-template #navItem let-routerLink="routerLink" let-tooltip="tooltip" let-iconName="iconName" let-text="text">
    @if(!isSmallScreen()){
        <div class="navlink" 
            [routerLink]="routerLink" 
            [matTooltip]="tooltip">
            {{text}}
        </div>
    }@else {
        <button mat-icon-button 
            [routerLink]="routerLink"
            [matTooltip]="tooltip"
            [attr.aria-label]="tooltip">
            <mat-icon>{{iconName}}</mat-icon>   
        </button>
    }
</ng-template>


<!-- ---------------------------------------------- -->